body {
    background-color: black !important;
    color: white !important;
  }

.cl-r{
    color: red;
}

.tcl-bl{
    color: black;
}

.tcl-yl{
    color: #F1D60C;
}

.cl-yl{
    background-color:#F1D60C;
}

.cl-bl{
    padding-top: 10px;
    background-color:black;
    padding-bottom: 10px;
}

.accordion-button {
    background-color:black !important;
    color: white !important;
}

.accordion-body{
    background-color:black !important;
    color: white !important;
}

.containerYLWbar{
    width: 85%;
    padding:15px;
    margin: 0 auto;
    background-color:#F1D60C;
    text-align: center;
}

.containerMbar{
    width: 85%;
    padding:15px;
    margin: 0 auto;
    text-align: center;
}

.row2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 10px;}

.containerAC{
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F1D60C;
}

.containerHC{
    width: 85%;
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
    margin-right: auto;
    margin-left: auto;
}

.cll-mnu,
.cll-mnuLi {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.cll-mnu {
    padding: 0 5px; 
}

.cll-mnuLi {
    padding: 0 5px;
}

.containerGLR{
    width: 85%;
    padding-right:15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.img-gl-2{
    width:50%;
    height:50%;
}

.pd-bt{
    padding-bottom: 50px;
}

.ctr{
    margin-left: auto;
    margin-right: auto;
}

.center-button {
    display: flex;  
    justify-content: center; 
    align-items: center;
}

.card{
    background-color: black !important;
}

.card-text{
    color: white !important;
}

.im-cr{
    width: 100%;
}

.txcrHM{
    margin-left: auto;
    margin-right: auto;
    width:85%
}

/* Menu code*/
.menu-bar {
    background-color:#F1D60C;
    padding: 20px;
}
.menu-bar a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}
.menu-bar a:hover {
    text-decoration: underline;
}
.accordion-container {
    margin-top: 20px;
}