body {
  background-color: black !important;
  color: white !important;
}

.white{
  color: white!important;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.red{
  color: #ee2123;
}

.flex-end {
  display: flex;
  justify-content: flex-end !important;
}

.button-normal {
  text-decoration: none;
  background-color: black;
  color: yellow;
  border: 2px solid yellow;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-normal:hover {
  background-color: yellow;
  color: black;
}

/* navbar */

.navbar {
  background-color: #171717;
}

/* Styling for navigation links */
.nav-link {
  position: relative; 
  font-size: 18px !important;
  color: #FECC00 !important;
  margin: 0 15px !important;
  text-decoration: none;
  transition: color 0.3s ease; 
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FECC00;
  transition: width 0.3s ease;
}

/* Hover state */
.nav-link:hover {
  color: #FECC00;
}

.nav-link:hover::after {
  width: 100%; 
}

.nav-link:hover {
  color: #FECC00; 
}

/* navbar */

/* footer */

footer{
  background-color: #FECC00;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container-links{
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-container-links a{
  color: black;
  margin: 0 .5rem;
  text-decoration: none;
}

.footer-container-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

}

.footer-container-icons img{
  width: 2rem;
  margin: 0 .5rem;
}

.footer-copyrights{
  margin-bottom: 1rem;
}

.footer-link {
  position: relative; 
  font-size: 18px !important;
  color: black !important;
  margin: 0 15px !important;
  text-decoration: none;
  transition: color 0.3s ease; 
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.footer-link:hover {
  color: black;
}

.footer-link:hover::after {
  width: 100%; 
}

.footer-link:hover {
  color: black; 
}

/* footer */

/* home page */
.size {
  width: 4rem;
}

.home-container1 {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.home-container1-box {
  width: 49%;
}

.home-container1-image {
  width: 14rem;
  display: flex;
}

.home-container2 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #ee2123;
  justify-content: center;
  align-items: center;
}

/* home page */

/* location page */

.LocationsHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ee2123;
  border-bottom: 1px solid white;
}

.location-container1 {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.location-container1-box {
  width: 60%;
}

.location-box-header{
  color: #ee2123;
}

.link-change{
  color: wheat;
}
.link-change:hover{
  color: #F1D60C;
}

.location-container1-box-info {
  margin-bottom: 3rem;
  height: 120px;
}

.location-container1-image {
  width: 40%;
  flex-direction: column;
  align-items: flex-end;
}
/* location page */

/* Jobs */

.Job-img-size{
  width: 85%;
}

.jobs-container{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F1D60C;
}

.jobs-image-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs-image-container1{
  width: 50%;
  display: flex;
}

.jobs-image-fix{
  width: 50%;
}

/* Jobs */

/* contact us page */

/* contact us page */

/* the form */

.form-container {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
}

.form-title {
  color: #ee2123;
  margin-bottom: 10px;
  text-align: center;
}

.form-subtitle {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 10px;
}

.from-space{
  width: 50%;
}

.form-input,
.form-textarea {
  width: 100%;
  background-color: yellow;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.form-textarea {
  height: 100px;
  resize: none;
}

/* the form  */

/* policies page */
.policies-container{
  width: 85%;
  margin: auto;
  color: #F1D60C;
  margin-bottom: 2rem;
}

.brake-line{
  border-bottom: 1px solid white;
}

/* policies page */

